<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update</title>
</head>
<body>
  <h1>Dados de Temperatura e umidade</h1>
  <p>A temperatura atual é<strong> <%= temperatura %> °C</strong></p>
  <p>A Umidade atual é <strong><%= umid %> Ur</strong></p>
  <p>A chave é  <strong><%= key %> Ur</strong></p>

</body>
</html>




